<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp Bot</title>
</head>

<body>
    <h1>
        <%= message %>
    </h1>
    <%- qrCode %>

        <!-- Adicione o script do lado do cliente para manipular o evento reloadPage -->
        <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
        <script>
            const socket = io();

            socket.on('reloadPage', () => {
                window.location.reload();
            });
        </script>
</body>

</html>